<div class="container-fluid mt-3">
  <div class='jumbotron jumbotron-fluid'>
    <div class='d-flex container-fluid justify-content-center'>
      <h1 class='display-3'>Power Trip</h1>
      <p class='lead'> When you feel like you're on top of the world, why not explore it?
        <br>
        Power Trip is a new powerful way to plan, document, and share all of your travel adventures.
      </p>
    </div>
  </div>

<main {{#if logged_in}}class="row flex-wrap"{{/if}}>
  <div class="d-flex container-fluid justify-content-center mt-5 {{#if logged_in}}col-8{{/if}}">
    <div id='carouselSlides' class='carousel slide' data-ride='carousel'>
      <div class='carousel-inner'>
        {{#each randImages as |image|}}
        <div class='carousel-item {{#if @first}}active{{/if}}'>
          <img class='d-block w-100' src={{image.image_url}} alt='First slide' />
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class='container-fluid d-flex {{#if logged_in}}col-4{{/if}}'>
    {{#if logged_in}}
    <div class='col col-md-8 col-xs-12 tripContainer w-75'> 
      <div>
        <div class='row plannedTrips h-25'>
          <h2> Planned Trips </h2>
          {{#each user.trips as |trip|}}
          {{#unless trip.done}}
          <a class="plan-link" href="/profile/trip/{{trip.id}}">{{trip.comment}}</a>
          {{/unless}}
          {{/each}}
        </div>
      </div>

      <div class="col col-md-8 col-xs-12 tripContainer w-75"> 
        <div class='pastTrips'>
          <h2> Past Trips </h2>
          {{#each user.trips as |trip|}}
          {{#if trip.done}}
          <a class="plan-link" href="/profile/trip/{{trip.id}}">{{trip.comment}}</a>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
    {{/if}}
</main>



  </div>
</div>


<footer class="footer mt-5">
  <big> Bon Voyage!</big>
  <br>
  <span> <a class="footer-link" href="https://github.com/nambui17/Power-Trip">Visit our GitHub Repository Here ✈️ </a>
  <br>
  Ⓒ 2022 Power Trip
</footer>